<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Gunn DECA Login</title>

	<link rel="apple-touch-icon" sizes="57x57" href="favicon_imgs/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon_imgs/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon_imgs//apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon_imgs/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon_imgs/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon_imgs/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon_imgs/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon_imgs/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon_imgs/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="favicon_imgs/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon_imgs/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon_imgs/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon_imgs/favicon-16x16.png">
	<link rel="manifest" href="favicon_imgs/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="favicon_imgs/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:0px; word-wrap:break-word; }
		.form-control {
			border: 1px solid black;
			border-radius: initial !important;

		}

		.btn-submit {
			border: 1px solid black;
			color: black;
			border-radius: initial !important;
			background-color: transparent;
		}
		.btn-submit:hover, .btn-submit:focus {
			border-color: black;
			background-color: rgb(221, 221, 221);
			color: black;
		}
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Admin Panel</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">
		<div class="col-sm-12">
				<h3><span class="fa fa-user"></span>control the world</h3>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Email</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Grade</th>
							<th>Birthday</th>
							<th>Student ID</th>
							<th>Parent Email</th>
							<th>Parent Email 2</th>
							<th>Regionals Written</th>
							<th>Regionals Roleplay</th>
						</tr>
					</thead>
				<%
					for (var key in members)
					{
						if (members.hasOwnProperty(key)) {
							%>
								<tr>
									<td><%= members[key].local.email %></td>
									<td><%= members[key].local.firstname %></td>
									<td><%= members[key].local.lastname %></td>
									<td><%= members[key].local.grade %></td>
									<td><%= members[key].local.birthday %></td>
									<td><%= members[key].local.studentID %></td>
									<td><%= members[key].local.parent1email %></td>
									<td><%= members[key].local.parent2email %></td>
									<td><%= members[key].local.regionalsWritten %></td>
									<td><%= members[key].local.regionalsRoleplay %></td>
								</tr>
							<%
						}
					}
				%>
		</div>
	</div>
</div>
</body>
</html>
