<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:40px; word-wrap:break-word; }
		.form-control {
			border: 1px solid black;
			border-radius: initial !important;

		}

		.btn-submit {
			border: 1px solid black;
			color: black;
			border-radius: initial !important;
			background-color: transparent;
		}
		.btn-submit:hover, .btn-submit:focus {
			border-color: black;
			background-color: rgb(221, 221, 221);
			color: black;
		}
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span>Updates!</h3>

				Welcome to DECA

			</div>
		</div>

		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Information</h3>
					<form action="/setinfo" method="post">
						<div class="form-group">
							<label>First Name</label>
							<input type="text" class="form-control" name="firstname" value="<%= user.local.firstname %>">
						</div>
						<div class="form-group">
							<label>Last Name</label>
							<input type="text" class="form-control" name="lastname" value="<%= user.local.lastname %>">
						</div>
						<div class="form-group">
							<label>Grade</label>
							<select name="grade" class="form-control" id="grade" selected=<%= user.local.grade %>>
								<option <% if (user.local.grade == 9) { %>selected<% } %> >9</option>
								<option <% if (user.local.grade == 10) { %>selected<% } %> >10</option>
								<option <% if (user.local.grade == 11) { %>selected<% } %> >11</option>
								<option <% if (user.local.grade == 12) { %>selected<% } %> >12</option>
							</select>
						</div>
						<div class="form-group">
							<label>Birthday</label>
							<input type="date" class="form-control" name="birthday" value="<%= user.local.birthday %>">
						</div>
						<div class="form-group">
							<label>Student ID</label>
							<input type="text" class="form-control" name="studentID" value="<%= user.local.studentID %>">
						</div>
						<div class="form-group">
							<label>Parent/Guardian 1 Email</label>
							<input type="text" class="form-control" name="parent1email" value="<%= user.local.parent1email %>">
						</div>
						<div class="form-group">
							<label>Parent/Guardian 2 Email</label>
							<input type="text" class="form-control" name="parent2email" value="<%= user.local.parent2email %>">
						</div>

						<button type="submit" class="btn-submit btn btn-warning btn-lg">Update Info</button>
					</form>
				</h3>
			</div>
		</div>

	</div>

</div>
</body>
</html>
