<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Gunn DECA Login</title>

	<link rel="apple-touch-icon" sizes="57x57" href="favicon_imgs/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon_imgs/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon_imgs//apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon_imgs/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon_imgs/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon_imgs/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon_imgs/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon_imgs/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon_imgs/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="favicon_imgs/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon_imgs/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon_imgs/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon_imgs/favicon-16x16.png">
	<link rel="manifest" href="favicon_imgs/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="favicon_imgs/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:0px; word-wrap:break-word; }
		.form-control {
			border: 1px solid black;
			border-radius: initial !important;

		}

		.btn-submit {
			border: 1px solid black;
			color: black;
			border-radius: initial !important;
			background-color: transparent;
		}
		.btn-submit:hover, .btn-submit:focus {
			border-color: black;
			background-color: rgb(221, 221, 221);
			color: black;
		}
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">


			<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span>Updates!</h3>

					<% if (user.local.email == "gunndeca") { %>
						hey deca admin
						<a href="/panel"> admin panel </a>
					<% }
					else
					{%>
						Welcome to DECA<br><br>



						<% if ((user.local.regionalsChecks == null) && (user.local.regionalsForms == null))
						{
							%>
							<h5><strong>SVCDC - Silicon Valley Career Development Conference Registration</strong></h5>
							<p>
							 Regionals Registration has closed. Please come again for states! <br>
							 If you believe this is a mistake, please contact either Jonathan or Lucas <strong>immediately</strong> or send an email to contact@gunndeca.org. </P>
						<%}
						else {
							%>
							<p>
								You have been succesfully signed up for Regionals!. <% if (user.local.regionalsRoommate1 && user.local.regionalsEventsFinalized) {%> Thank you for finalizing your registration<%} else {%> Please complete your registration steps below.<%}%>
							</p>
							<% if (user.local.registrationPayment == null){
							%>
							<p>
								Please submit your $25 California DECA registration check made payable to Gunn High School. Checks will be due on January, 25th.
							</p>

								<% } %>
						<% if (user.local.registrationPayment == null){
							%>
							<p style="color:red;"><b>Registration Payment: Unsubmitted</b></p>
							<%
						}	else{
							%>
							<p style="color:green"><b>Registration Payment: Submitted</b></p>
							<%
						}

						if (user.local.regionalsForms == null){
							%>
							<p style="color:red;"><b>Form Status: Unsubmitted</b></p>
						<% } else {
							%>
							<p style="color:green"><b>Form Status: Submitted</b></p>
							<%
						}
						 if (user.local.regionalsChecks == null){
							%>
							<p style="color:red;"><b>Check Status: Unsubmitted</b></p>
						<% } else {
							%>
							<p style="color:green"><b>Check Status: Submitted</b></p>
							<%
						}


						 if (user.local.regionalsRoommate1 == null){
							%>
							<p style="color:red;"><b>Roommate Selection: Incomplete</b></p>
						<% } else {
							%>
							<p style="color:green"><b>Roommate Selection: Complete</b></p>
							<%
						}
						 if (user.local.regionalsEventsFinalized == null){
							%>
							<p style="color:red;"><b>Event Finalization: Unsubmitted</b></p>
						<% } else {
							%>
							<p style="color:green"><b>Event Finalization: Submitted</b></p>
							<%
						}%>


					<% }} %>

				</div>


				<% if (user.local.regionalsChecks != null && user.local.regionalsChecks != null)
				{
				%>
					<div class="well">

						<h3><span class="fa fa-user"></span><% if (user.local.regionalsRoommate1 == null){ %>Choose<% } %> Roommates</h3>
						<% if (user.local.regionalsRoommate1 == null) {%>
						<p>Please choose at least one Regional attendee that you would like to room with. You will be unable to change your selection after submitting.</p>
						<% } %>
						<form action="/regionalsRoommate" method="post">
							<div class="form-group">
								<label>Roommate 1</label>
								<input type="text" class="form-control" name="regionalsRoommate1" value="<%= (user.local.regionalsRoommate1 != null ? user.local.regionalsRoommate1 : "") %>" <% if(user.local.regionalsRoommate1) {%> readonly <%}%> >
							</div>
							<div class="form-group">
								<label>Roommate 2</label>
								<input type="text" class="form-control" name="regionalsRoommate2" value="<%= (user.local.regionalsRoommate2 != null ? user.local.regionalsRoommate2 : "") %>" <% if(user.local.regionalsRoommate1) {%> readonly <%}%> >
							</div>
							<div class="form-group">
								<label>Roommate 3</label>
								<input type="text" class="form-control" name="regionalsRoommate3" value="<%= (user.local.regionalsRoommate3 != null ? user.local.regionalsRoommate3 : "") %>" <% if(user.local.regionalsRoommate1) {%> readonly <%}%> >
							</div>
							<% if(user.local.regionalsRoommate1 ==  null) { %>
							<button type="submit" class="btn-submit btn btn-warning btn-lg">Submit</button>

							<%}%>
						</form>
					</div>
				<% } %>


					<% if (user.local.regionalsChecks && user.local.regionalsForms){%>
					<div class="well">
					<h3><span class="fa fa-user"></span>


							Finalize Events


					</h3>
					<p>Please finalize your events and partners. Be sure that all members in your team have accurate event and partner information listed before submitting</p>
					<p><strong>YOU WILL NOT BE ABLE TO CHANGE AFTER FINALIZING</strong></p>

						<% if (user.local.regionalsEventsFinalized){%>
						<form>
						<%}else {%>
						<form action="/setRegionalsFinal" method="post">
						<%}%>
						<div class="form-group">
							<label>Roleplay</label>
							<% if (user.local.regionalsEventsFinalized) {%>
							<input type="text" class="form-control" name="regionalsWritten" readonly value="<%= user.local.regionalsRoleplay %>" >
							<%} else {%>
							<select name="regionalsRoleplay" class="form-control" id="grade" selected=<%= user.local.regionalsRoleplay %>>
								<%
									var options = [
										"NONE SELECTED",
										"PBM Principles of Business Management and Administration",
										"PFN Principles of Finance",
										"PHT Principles of Hospitality and Tourism",
										"PMK Principles of Marketing",
										"BLTDM Business Law and Ethics Team Decision Making",
										"BTDM Buying and Merchandising Team Decision Making",
										"FTDM Financial Services Team Decision Making",
										"HTDM Hospitality Services Team Decision Making",
										"MTDM Marketing Communications Team Decision Making",
										"STDM Sports and Entertainment Marketing Team Decision Making",
										"TTDM Travel and Tourism Marketing Team Decision Making",
										"ACT Accounting Applications",
										"AAM Apparel and Accessories Marketing Series",
										"ASM Automotive Services Marketing Series",
										"BFS Business Finance Series",
										"BSM Business Services Marketing Series",
										"FMS Food Marketing Series",
										"HLM Hotel and Lodging Management Series",
										"HRM Human Resource Management Series",
										"MMS Marketing Management Series",
										"QSRM Quick Serve Restaurant Management Series",
										"RFSM Restaurant and Food Service Management",
										"RMS Retail Merchandising Series",
										"SEM Sports and Entertainment Marketing Series",
										"PFL Personal Financial Literacy"
									]
									for(var i = 0; i < options.length; i++) { %>
										<option <% if (user.local.regionalsRoleplay == options[i]) { %>selected<% } %> >  <%= options[i] %>  </option>
									<% }
								%>
							</select>
							<%}%>

							<% if (user.local.regionalsChecks && user.local.regionalsForms){%>
								<label>Roleplay Partner</label>
								<input type="text" class="form-control" name="roleplayPartner"  <% if(user.local.regionalsEventsFinalized) {%> readonly value="<%= user.local.roleplayPartner %>" <%}%> >
							<%}%>

						</div>
						<div class="form-group">
							<label>Written</label>
							<% if (user.local.regionalsEventsFinalized) {%>
							<input type="text" class="form-control" name="regionalsWritten" readonly value="<%= user.local.regionalsWritten %>" >
							<%} else {%>
							<select name="regionalsWritten" class="form-control" id="grade" selected=<%= user.local.regionalsWritten %>>
								<%
									var options = [
										"NONE SELECTED",
										"BOR Business Services Operations Research",
										"BMOR Buying and Merchandising Operations Research",
										"FOR Finance Operations",
										"HTOR Hospitality and Tourism Operations Research",
										"SEOR Sports and Entertainment Marketing Operations Research",
										"EIP Innovation Plan",
										"EIB Independent Business Plan",
										"ESB Start-Up Business Plan",
										"EBG Business Growth Plan",
										"IBP International Business Plan",
										"ADC Advertising Campaign Event",
										"FMP Fashion Merchandising Promotion Plan",
										"SEPP Sports and Entertainment Promotion Plan",
										"FCE Financial Consulting Event",
										"HTPS Hospitality and Tourism Professional Selling",
										"PSE Professional Selling"

									]
									for(var i = 0; i < options.length; i++) { %>
										<option <% if (user.local.regionalsWritten == options[i]) { %>selected<% } %> >  <%= options[i] %>  </option>
									<% }
								%>
							</select>
							<%}%>

							<% if (user.local.regionalsChecks && user.local.regionalsForms){%>
								<label>Written Partner 1</label>
								<input type="text" class="form-control" name="writtenPartner1"  <% if(user.local.regionalsEventsFinalized) {%> readonly value="<%= user.local.writtenPartner1 %>" <%}%> >
								<label>Written Partner 2</label>
								<input type="text" class="form-control" name="writtenPartner2"  <% if(user.local.regionalsEventsFinalized) {%> readonly value="<%= user.local.writtenPartner2 %>" <%}%> >
							<%}%>
						</div>

						<% if (user.local.regionalsChecks && user.local.regionalsForms && (user.local.regionalsEventsFinalized == null)) {%>


							<button type="submit" class="btn-submit btn btn-warning btn-lg" name="submitbutton" value="save">Finalize</button>


						<% }else if (user.local.regionalsEventsFinalized) {}%>




<!-- 							<button type="submit" class="btn-submit btn btn-warning btn-lg" name="submitbutton" value="save"><% if ((user.local.regionalsRoleplay == null || user.local.regionalsRoleplay == "NONE SELECTED") && (user.local.regionalsWritten == null || user.local.regionalsWritten == "NONE SELECTED"))
							{
								%>Register for Regionals
								<% } else { %>
								Update
								<% } %>
							</button>
						<% if (((user.local.regionalsRoleplay != null && user.local.regionalsRoleplay != "NONE SELECTED") || (user.local.regionalsWritten != null && user.local.regionalsWritten != "NONE SELECTED"))) //if user has signed up for regionals
							{
								%>

							<button type="submit" class="btn-submit btn btn-lg" name="submitbutton" value="cancel">Cancel Registration</button>
	 						<% } %> -->




					</form>
				</div>

				<%}%>
			</div>





		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Materials</h3>

				<select onChange="window.location.href=this.value"  class="form-control" >
					<option value="#">Cluster Readings</option>
					<option value="BusinessAdministrationClusterReading.pdf">Buisness Administration</option>
					<option value="FinanceClusterReading.pdf">Finance</option>
					<option value="HospitalityandTourismClusterReading.pdf">Hospitality and Tourism</option>
					<option value="MarketingClusterReading.pdf">Marketing</option>
				</select>

				<select onChange="window.location.href=this.value"  class="form-control" >
			    <option value="#">Buisness Management</option>
				<% for(var cx = 0; cx < files[0].length; cx++)
				{
					var current = files[0][cx];
				%>
						<option value="Practice Tests/b/<%= current %>"><%= current %></option>
				<% } %>
				</select>

				<select onChange="window.location.href=this.value"  class="form-control" >
			    <option value="#">Finance</option>
				<% for(var cx = 0; cx < files[1].length; cx++)
				{
					var current = files[1][cx];
				%>
						<option value="Practice Tests/f/<%= current %>"><%= current %></option>
				<% } %>
				</select>

				<select onChange="window.location.href=this.value"  class="form-control" >
			    <option value="#">Hospitality</option>
				<% for(var cx = 0; cx < files[2].length; cx++)
				{
					var current = files[2][cx];
				%>
						<option value="Practice Tests/h/<%= current %>"><%= current %></option>
				<% } %>
				</select>

				<select onChange="window.location.href=this.value"  class="form-control" >
			    <option value="#">Marketing</option>
				<% for(var cx = 0; cx < files[3].length; cx++)
				{
					var current = files[3][cx];
				%>
						<option value="Practice Tests/m/<%= current %>"><%= current %></option>
				<% } %>
				</select>

				<select onChange="window.location.href=this.value"  class="form-control" >
			    <option value="#">PBA</option>
				<% for(var cx = 0; cx < files[4].length; cx++)
				{
					var current = files[4][cx];
				%>
						<option value="Practice Tests/p/<%= current %>"><%= current %></option>
				<% } %>
				</select>

			</div>
			<div class="well">
				<h3><span class="fa fa-user"></span> Information</h3>
					<form action="/setinfo" method="post">
						<div class="form-group">
							<label>First Name</label>
							<input type="text" class="form-control" name="firstname" value="<%= user.local.firstname %>">
						</div>
						<div class="form-group">
							<label>Last Name</label>
							<input type="text" class="form-control" name="lastname" value="<%= user.local.lastname %>">
						</div>
						<div class="form-group">
							<label>Grade</label>
							<select name="grade" class="form-control" id="grade" selected=<%= user.local.grade %>>
								<%
									var options = [9,10,11,12]
									for(var i = 0; i < options.length; i++) { %>
										<option <% if (user.local.grade == options[i]) { %>selected<% } %> >  <%= options[i] %>  </option>
									<% }
								%>
							</select>
						</div>
						<div class="form-group">
							<label>Birthday</label>
							<input type="date" class="form-control" name="birthday" value="<%= user.local.birthday %>">
						</div>
						<div class="form-group">
							<label>Student ID</label>
							<input type="text" class="form-control" name="studentID" value="<%= user.local.studentID %>">
						</div>
						<div class="form-group">
							<label>Parent/Guardian 1 Email</label>
							<input type="text" class="form-control" name="parent1email" value="<%= user.local.parent1email %>">
						</div>
						<div class="form-group">
							<label>Parent/Guardian 2 Email</label>
							<input type="text" class="form-control" name="parent2email" value="<%= user.local.parent2email %>">
						</div>

						<button type="submit" class="btn-submit btn btn-warning btn-lg">Update Info</button>
					</form>
				</h3>
			</div>
		</div>

	</div>

</div>
</body>
</html>
